@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <button type="button" class="button">load tool</button>
        <button type="button" class="buttonUpdate">update data</button>
        <button type="button" class="fasDetails">Fas</button>
        <button type="button" class="noteSave">Note</button>
    </div>
    <div class="col-md-4">
       <div class="placeholder"></div>
    </div>
    <div class="col-md-4">
       
    </div>    
</div>
